/* General styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
}

h1 {
    color: #333333;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Input container styling */
.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-container input {
    padding: 12px;
    font-size: 1rem;
    border: 2px solid #d1d5db;
    border-radius: 4px;
    margin-bottom: 10px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-container input:focus {
    border-color: #4f46e5;
}

.input-container button {
    padding: 12px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #4f46e5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-container button:hover {
    background-color: #3b36c6;
}

/* Result container styling */
.result-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.result-container input {
    padding: 12px;
    font-size: 1rem;
    border: 2px solid #d1d5db;
    border-radius: 4px;

    width: 100%;
}

.result-container button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #4f46e5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px 5px;
    transition: background-color 0.3s ease;
}

.result-container button:hover {
    background-color: #3b36c6;
}

.result-container p {
    margin-top: 10px;
    color: #10b981;
    font-size: 0.9rem;
}

/* Responsive design */
@media (max-width: 768px) {
    .app-container {
        padding: 20px;
        width: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }

    .input-container input,
    .result-container input {
        font-size: 0.9rem;
    }

    .input-container button,
    .result-container button {
        font-size: 0.9rem;
        padding: 10px;
    }
}